fastapi
uvicorn[standard]
websockets
langgraph
langchain-groq
langchain-community
langchain-huggingface
sentence-transformers
faiss-cpu
tavily-python
redis
arq
prisma
python-dotenv
pydantic
python-multipart
pypdf